<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome to MySite{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{STATIC_URL}}/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{STATIC_URL}}/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{STATIC_URL}}/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{STATIC_URL}}/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_URL}}/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_URL}}/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      {% block content %}
      <div class="hero-unit">
        <h1>ThinkNinja!</h1>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>What is this?</h2>
           <p>Have you ever thought, "I'm pretty smart, but how smart am I, really?"</p>
           <p>Well now you can prove it. ThinkNinja is a new community where students can test themselves on a variety of subjects and earn their way up the ranks, eventually getting their black belt!</p>
          <p><a class="btn" href="/about/">Learn more &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Getting Started</h2>
           <p>All you need is an email address to get started!</p>
          <p><a class="btn" href="/getting-started/">Sign up &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Belts = Badges</h2>
          <p>Thanks to technology, the belts that you earn in subjects as diverse as Gmail Use, or Video Production, can be stored in <a href="http://openbadges.org">your openbadges backpack</a> and shared with friends or co-workers.</p>
          <p><a class="btn" href="/about/openbadges/">What are open badges? &raquo;</a></p>
        </div>
      </div>
      {% endblock %}

      <hr>

      <footer>
        <p>&copy; dba <a href="http://onecardinal.com">One Cardinal</a> {% now "Y" %}</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>

  </body>
</html>
